<a href="https://colab.research.google.com/github/Rynnsya/Jobsheet-04-Perulangan-Looping-/blob/main/Rasya_Pandu_Wicaksono_Jobsheet4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 1 For dengan Range

In [1]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

Praktikum 2 While ( Hitung Mundur )

In [2]:
n = 5

while n > 0:
    print(n)
    n -= 1

5
4
3
2
1

Praktikum 3 Nesteed Loop ( Segitiga Bintang )

In [3]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

Praktikum 4 Break

In [5]:
for i in range(1, 11):
    if i == 5:
        print("Angka 7 ditemukan")
        break

Angka 7 ditemukan

Praktikum 4 Continue

In [6]:
for i in range(1, 6):
    if i % 2 == 1:
        continue
    print(i)

2
4

Praktikum 5 For pada Dictionary

In [7]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
    print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

Praktikum 6 For dengan Enumerate

In [8]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
    print(i, nama)

1 Andi
2 Budi
3 Cici

Praktikum 7 Kasir Multi - Item

In [9]:
total = 0

while True:
    barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if barang.lower() == "selesai":
        break

    harga = float(input(f"Masukkan harga {barang}: "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))
    subtotal = harga * jumlah
    total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): sepatu
Masukkan harga sepatu: 500000
Masukkan jumlah sepatu: 42
Masukkan nama barang (ketik 'selesai' untuk berhenti): baju
Masukkan harga baju: 270000
Masukkan jumlah baju: 30
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 29100000.0

Penugasan 3 Menampilkan Deret Angka

In [10]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

Penugasan 4 Hitung Faktorial

In [11]:
n = int(input("Masukkan bilangan: "))
faktorial = 1
i = 1

while i <= n:
    faktorial *= i
    i += 1

print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan bilangan: 5
Faktorial dari 5 adalah 120

Penugasan 5 Pola Segitiga Terbalik

In [12]:
for i in range(5, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

Penugasan 6 Cari Bilangan Prima dengan Break

In [13]:
n = int(input("Masukkan bilangan: "))

if n > 1:
    for i in range(2, n):
        if n % i == 0:
            print(f"{n} bukan bilangan prima (karena habis dibagi {i})")
            break
    else:
        print(f"{n} adalah bilangan prima")
else:
    print("Bilangan harus lebih dari 1")

Masukkan bilangan: 7
7 adalah bilangan prima

Penugasan 7 Tampilkan Hanya Bilangan Genap dengan Continue

In [14]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

Penugasan 8 Iterasi Dictionary Mahasiswa

In [15]:
mahasiswa = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in mahasiswa.items():
    print(k, ":", v, end=" ")

Nama : Budi Umur : 21 Prodi : Teknik Komputer

Penugasan 9 Enumerate Daftar Barang

In [16]:
barang = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(barang, start=1):
    print(i, nama)

1 Buku
2 Pulpen
3 Tas

Penugasan 10 Studi Kasus - Kasir Diskon

In [18]:
total = 0
print("=== Program Kasir Sederhana ===")

while True:
    barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if barang.lower() == "selesai":
        break

    harga = float(input(f"Masukkan harga {barang}: Rp "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))
    subtotal = harga * jumlah
    total += subtotal

    print(f"Subtotal {barang}: Rp {subtotal}\n")

# Hitung diskon
diskon = 0
if total >= 200000:
    diskon = total * 0.10

total_akhir = total - diskon

# Tampilkan struk
print("\n===== STRUK BELANJA =====")
print(f"Total Belanja : Rp {total:,.0f}")
print(f"Diskon (10%)  : Rp {diskon:,.0f}")
print(f"Total Bayar   : Rp {total_akhir:,.0f}")
print("==========================")
print("Terima kasih telah berbelanja!")

=== Program Kasir Sederhana ===
Masukkan nama barang (ketik 'selesai' untuk berhenti): sepatu
Masukkan harga sepatu: Rp 500000
Masukkan jumlah sepatu: 44
Subtotal sepatu: Rp 22000000.0

Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== STRUK BELANJA =====
Total Belanja : Rp 22,000,000
Diskon (10%)  : Rp 2,200,000
Total Bayar   : Rp 19,800,000
==========================
Terima kasih telah berbelanja!